* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0d0d1f;
  color: #fff;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #1a1a2e;
  position: sticky;
  top: -1px;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: gold;
  color: #1a1a2e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 0.8rem;
}

.name {
  color: gold;
  font-size: 1.5rem;
  font-weight: bold;
}

.main-nav a {
  color: #ccc;
  text-decoration: none;
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 800;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  text-decoration: #cfa10b underline;
  text-underline-offset: 0.6rem;
  text-decoration-thickness: 0.3rem;
  text-decoration-style: solid;

  color: gold;
}
.main-nav a.active {
  color: gold;
  text-decoration: underline;
  text-underline-offset: 0.6rem;
  text-decoration-thickness: 0.3rem;
  text-decoration-style: solid;
}

.slide {
  padding: 3rem 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-slide {
  /* background: linear-gradient(135deg, #0d0d1f, #1a1a2e); */
  text-align: center;
}
.home-content {
  display: flex;
  flex-direction: row;
  gap: 13%;
}
.home-content h2 {
  font-size: xx-large;
}
.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3%;
}
.profile-pic {
  box-shadow: 0px 0px 122px 0px #e5e104d7;
  border-radius: 5%;
  border: 4px solid gold;
  margin-bottom: -0.3rem;
  max-height: 650px;
}

.highlight {
  color: gold;
}
.btn-group {
  display: flex;
  flex-direction:row;
  gap: 1.2%;
  margin-top: 1rem;
  justify-content: center;

}

.btn {
  background: #d6e10b;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 1.4rem;
  padding: 0.8rem 1rem;
  font-weight: bold;
  margin: 2rem 2.1rem;
  border-radius: 6px;
  font-size: 1.4rem;

  animation-name: mymove;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.btn a {
  text-decoration: none;
  color: #000;
}
.btn:hover {
  background: #cfa10b;
}

.about-slide .intro {
  max-width: 700px;
  text-align: center;
  margin-bottom: 0rem;
}

#about h2 {
  margin-top: 1.9rem;
  font-size: 2rem;
  color: rgb(232, 166, 10);
}
.intro {
  margin-top: 2rem;
}
.bio {
  max-width: 900px;
  margin: 1rem auto;
  font-size: 1rem;
  line-height: 1.8;
}

.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.skills h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.skills li {
  background: #1a1a2e;
  border: 1px solid gold;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: gold;
  transition: transform 0.6s;
}

.contact-slide h2 {
  margin-top: 4.5rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 800px;
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
  height: 64px;
  margin-bottom: 1.5rem;
}
.contact-form textarea {
  height: 140px;
}

.contact-form button {
  background: gold;
  color: #1a1a2e;
  font-weight: bold;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #fff2a8;
}

.feedback-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 800px;
  margin-top: 2rem;
}

.feedback-item {
  background: #1a1a2e;
  padding: 1.2rem;
  border-left: 5px solid gold;
  border-radius: 8px;
  color: #eee;
}

.feedback-item span {
  display: block;
  margin-top: 0.5rem;
  color: gold;
  font-style: italic;
}

 .main-footer {
    background: #111;
    color: #fff;
    padding: 40px 0 0 0;
    font-family: 'Segoe UI', Arial, sans-serif;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    margin: 0 auto;
    padding: 0 30px;
    flex-wrap: wrap;
  }

  .footer-left h3 {
    margin: 0 0 10px 0;
    font-size: 3vh;
    letter-spacing: 1px;
    color: #fff;
  }

  .footer-left p {
    margin: 0;
    color: #bbb;
    font-size: 1rem;
  }

  .footer-right h4 {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 1px;
  }

  .social-icons {
    display: flex;
    gap: 18px;
  }

  .social-icons a img {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1);
    transition: filter 0.2s, transform 0.2s;
  }

  .social-icons a:hover img {
    filter: brightness(0) invert(0.5) sepia(1) hue-rotate(180deg) saturate(2);
    transform: scale(1.1);
  }

  hr {
    border: none;
    border-top: 1px solid #333;
    margin: 30px 0 0 0;
  }

  .footer-bottom {
    text-align: center;
    padding: 18px 0 10px 0;
    color: #bbb;
    font-size: 0.98rem;
  }

  .footer-bottom a {
    color: #4fd1c5;
    text-decoration: none;
    transition: color 0.2s;
  }

  .footer-bottom a:hover {
    color: #fff;
  }

 @media(max-width: 1100px){
  .footer-left p {
    max-width: 300px;
    font-size: 0.93rem;
  }
  
  .footer-left h3{
    font-size: 3vh;
  }

  .social-icons {
    max-width: 200px;
    gap: 12px;
  }

  .social-icons a img {
    width: 19px;
    height: 19px;
  }
 }




@keyframes mymove {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

@media (orientation: landscape) {
  .name {
    color: gold;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .main-nav a {
    color: #ccc;
    text-decoration: none;
    margin-left: 1.3rem;
    font-size: 1.1rem;
    font-weight: 750;
    transition: color 0.3s ease;
  }
  .home-slide {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-content {
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    gap: 13%;
  }
  .title {
    font-size: 1.6rem;
  }

  .profile-pic {
    width: 34%;
    margin-bottom: 1.5rem;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 150px;
    animation-name: mymove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .slide {
    opacity: 0;
    transform: scale(0.8);
    transition: all 1s ease-in-out;
  }

  .slide.visible {
    opacity: 1;
    transform: scale(1);
  }

  .skills li:hover {
    transform: scale(1.28);
    cursor: pointer;
  }
}

@media (orientation: portrait) {
  .name {
    font-size: 0.6rem;
  }

  .main-nav a {
    margin-left: 1rem;
    font-size: 0.8rem;
    font-weight: 750;
  }
  .home-content {
    font-size: 0.8rem;
    flex-direction: column;
    transition: font-size 0.6s;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }

  .home-content p {
    font-size: small;
    transition: font-size 0.6s;
  }

  .home-text {
    gap: 10px;
  }

  .profile-pic {
    width: 50%;
    margin-bottom: 4rem;
    animation-name: mymove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   
  }

  .home-text h2{
    font-size: larger;
  }

  .btn {
    font-size: 0.6rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    margin: 2rem 0.8rem;
    border-radius: 5px;
  }

   .slide {
    opacity: 0;
    transform: scale(0.8);
    transition: all 1s ease-in-out;
  }

  .slide.visible {
    opacity: 1;
    transform: scale(1);
  }

  .skills li:hover {
    transform: scale(1.28);
    cursor: pointer;
  }
}
@media (max-width: 670px) {
  .main-header {
    flex-direction: column;
    padding: 0.8rem 0.5rem;
    gap: 0.5rem;
  }
  .logo {
    margin-bottom: 0.5rem;
  }
  .name {
    font-size: 1.3rem;
  }

  .main-nav a {
    font-size: 0.8rem;
    margin-left: 1.3rem;
  }

  .profile-pic {
    width: 80vw;
    max-width: 250px;
    margin-bottom: 1rem;
    
  }

  .btn-group a {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0.2rem;
  }
  .bio .intro {
    font-size: small;
  }
  .contact-form input {
    height: 55px;
    margin-bottom: 1rem;
  }
  .contact-form textarea {
    height: 100px;
  }
}
@media (max-width: 520px) {
  .main-header {
    padding: 0.6rem 0.2rem;
    gap: 0.3rem;
  }
  .logo {
    margin-bottom: 0.3rem;
  }
  .name {
    font-size: 0.85rem;
  }

  .main-nav a {
    font-size: 0.57rem;
    margin-left: 0.7rem;
  }
  .home-content {
    flex-direction: column;
    margin-top: -4rem;
    gap: 0.8rem;
    font-size: 0.95rem;
    align-items: center;
  }
  .profile-pic {
    width: 90vw;
    max-width: 180px;
    margin-bottom: 0.7rem;
  }

  .btn-group a {
    font-size: 0.7rem;
    padding: 0.4rem 0.7rem;
    margin: 0.7rem 0.1rem;
  }
  .contact-slide h2 {
    margin-top: 4.5rem;
  }
  .contact-form input {
    height: 51px;
    margin-bottom: 0.5rem;
  }
  .contact-form textarea {
    height: 93px;
  }


  .footer-left  {
    text-align: center;
  }
  
  .footer-left p{
    max-width: 450px;
  }

  .footer-right{
    text-align: center;
  } 

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
  }
}
